/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";

 

:root {
    font-family: Inter, sans-serif !important;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

 

  .irctc-body-wrapper{
    background-image: url("/assets/homepage.svg");   

    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .irctct-font-style {
    font-size: 16px;
    font-weight: 500;
  }

 



