<!--- Header Nav bar -->

<app-navbar></app-navbar>
<!--- /Header Nav bar -->


<!-- body IRCTC LOGO-->

<div class="irctc-body-content-wrapper container">
  <div class="row mt-4 justify-content-start">
      <div class="col">
        <img src="../../../assets/homepage_ir_train.svg" alt="IR-logo">
        <div class="irctc-body-content-ir ">
          <div class="irctc-body-content-ir-title">Indian Railways</div>
          <div class="irctc-body-content-ir-tagline">Safety | Security | Punctuality</div>
        </div>
      </div>
  </div>
</div>


<!--/ body IRCTC LOGO-->

 
<!-- booking-frame-->

<!-- 
<div class="irctc-body-booking-wrapper container">

  <div class="">
    <div class="irctc-body-booking-bg-image">
      <div class="irctc-body-booking-search-card mt-4">

        <div class="mt-0">
          <div class="irctc-body-booking-card">
            <p-tabView class="irctc-body-booking-tabview">
              <p-tabPanel header="BOOK TICKET">
                <div class="irctc-body-booking-switch row">
                
                  <div class="form-check form-switch col-md-6">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Round Trip</label>
                  </div>
                  <div class="form-check form-switch col-md-6">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Flexible Date</label>
                  </div>
                </div> 

            
                <div class="row mt-2">
                  <div class="col-md-5">
                    <input type="text" pInputText [(ngModel)]="fromStation"  placeholder="From"/>
                  </div>
                  <div class="col-md-1 mt-1">
                     <img class="rever-direction-image" src="../../../assets/invert.svg" alt="Reverse Destination" (click)="reverseDestinationClick()"/>
                  </div>
                   <div class="col-md-6">
                    <input type="text" pInputText [(ngModel)]="toStation" placeholder="To:" />
                  </div>
                </div>

              

                  <div class="row mt-2">
                    <div class="col-md-5">
                        <p-calendar  placeholder="Depature" [showIcon]="true" [(ngModel)]="date" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true"></p-calendar>
                  
                    </div>
                   
                     <div class="col-md-4" >
                      <div class="flex justify-content-center">
                        <select  class="form-select ms-8 " [(ngModel)]="selectedQuota" style="height: 50px;" >                        
                        <option value="GP">General Public</option>
                        <option value="SCTZ">Senior Citizen</option>
                        <option value="TKL">Tatkal</option>
                        <option value="PTQL">Premium Taktal</option>
                      </select>


                      </div>  
                    </div>
                    <div class="col-md-1" >
                      <div class="irctc-search-button">
                        <p-button label="Search" icon="pi pi-search"></p-button>
                        
                  </div>
                     
                    </div>
                    
                  
                   
  
                  </div>


                
                             <div class="Line1 mt-3" style="align-self: stretch; height: 0px; border: 1px #D9D0E3 solid"></div>
 

              </p-tabPanel>

              <p-tabPanel header="PNR STATUS" [disabled]="true">

              </p-tabPanel>
              <p-tabPanel header="TRAIN STATUS" [disabled]="true">

              </p-tabPanel>
            </p-tabView>




             
       
          </div>
        </div>


      </div>

    </div>

  </div>




</div>   -->


<!-- /booking-frame-->


<div class="irctc-body-booking-wrapper container">

  <div class="d-flex justify-content-center irctc-body-booking-bg-image">
     <div class="card irctc-body-booking-card">

      <ul class="nav nav-pills mb-3 shadow-sm" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false">Variable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" rel="noopener">Operators</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="true" rel="noopener">Values</a>
        </li>
      </ul>
      </div>
     


  </div>

 

</div>