<!--- Header Nav bar -->

<app-navbar></app-navbar>
<!--- /Header Nav bar -->


<!-- body IRCTC LOGO-->

<div class="irctc-body-content-wrapper container">
    <div class="row mt-4">
        <div class="col-md-1">
            <img src="../../../assets/homepage_ir_train.svg" alt="IR-logo">
        </div>
        <div class="col-md-5">
            <div class="irctc-body-content-ir">
                <div class="irctc-body-content-ir-title">Indian Railways</div>
                <div class="irctc-body-content-ir-tagline">Safety | Security | Punctuality</div>
            </div>
        </div>
    </div>
</div>


<!--/ body IRCTC LOGO-->


<!-- booking-frame-->




<!-- /booking-frame-->